:root {
  --primary: #b9314f;
  --secondary: #632a58;
  scroll-behavior: smooth;
}
[v-cloak] {
      display: none;
    }
.main {
  font-family: "DiodrumArabic", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
[v-cloak] {
    display: none;
}

.text-primary {
    color: var(--primary);
}
.bg-primary {
    background-color: var(--primary);
}
.text-secondary {
    color: var(--secondary);
}
.bg-secondary {
    background-color: var(--secondary);
}

/* .chat-enter-active,
.chat-leave-active {
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
}

.chat-enter,
.chat-leave-to {
    opacity: 0;
}
 */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
.page-enter-active,
.page-leave-active {
  @apply origin-center transition-all duration-150 ease-in-out;
}
.page-leave-to {
  @apply scale-95 opacity-0;
}
.page-enter-from {
  @apply scale-105 opacity-0;
}
.custom-text-shadow {
    text-shadow: -1px 2px 4px #00000021;
}
